body {
  font-family: "Lato", sans-serif;
}

p{
  font-size:20px;
}
li{
  font-size:20px;
}

canvas{
  position: absolute;
  top: 0;
  margin: 0;
}

.sidenav {
  height: 100%;
  width: 12%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav h4{
  color: white;
  text-align: center;
}
.sidenav h6{

  color: white;
  text-align: center;
}

.sidenav img{
  position: relative;
  left: 25%;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  text-align: center
}

.sidenav a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 12%; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}



/* ---- reset ---- */

.bodyParticles{
  margin: 0;
  background-color: #17182f;
}

canvas {
  display: block;
  vertical-align: top;
}


/* ---- particles.js container ---- */

#particles-js {
  position: relative;
  width: 100%;
  height: 100vh;
}

.bannerText{
  position: relative;
  top: 0;
  font-size: 90px;
  text-align: center;
  padding: 0 0 0 0;
  color: whitesmoke;
  top: 40%;
  margin: 0;

}
.bodyFont{
  font-family: 'Arvo', serif;
}
.contentHeader{
  font-family: 'Arvo', serif;
  text-align: center;
  padding-top: 25px;
}

.specialHr{
  background-color:black;
  color: black;
  width: 25%;
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid black;
  padding: 0; 
}

.projectContainer{
  position: relative;
  width: 75%;
  left:10%;
}



.resumeContainer{
  position: relative;
  width: 75%;
  left:10%;
}

.specialHrResume{
  background-color:black;
  color: black;
  width: 100%;
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid black;
  padding: 0; 
}


.contentText{
  text-align: center;
}

.boxBorder {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 25%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}


.altBackground{
  background-color: #818181;
}
.normBackground{
  background-color: white;
}

.containerChart{
  text-align: center;
  width: 100%;
  background-color: #ddd;
}

.skills{
  text-align: right;
  padding: 10px;
  color: white;
}


.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 20%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.containerCard {
  padding: 2px 16px;
}

.cardText{
  font-size: 18px;
}

.html{width: 70%; background-color: #7e26b8;}
.css{width: 50%; background-color: #48166c;}
.js{width: 55%; background-color: #7e26b8;}
.node{width: 50%; background-color: #48166c;}