/* html {
  scroll-behavior: smooth;
} */

body {
  max-width: 100%;
  overflow-x: hidden;
  margin: 0;
  font-family: 'Nanum Gothic', sans-serif;
}

.topOfNav{
  top: 0;
  background-color: #FAFAFA;
  margin: 0;
}

.bottomOfNav{
  text-align: center;
}

.navName{
  margin: 0;
  padding-top: 20%;
  text-align: center;
  padding-bottom: 5%;
  color: #8A746E;
}

.navTitle{
  text-align: center;
  padding-bottom: 20%;
  color: #117F72;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 13.25%;
  background-color: #ffffff;
  position: fixed;
  height: 100%;
  overflow: auto;
  box-shadow: 5px 5px 2px lightgrey;
}

.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}
 
.sidebar a.active {
  background-color: #117F72;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #fafafa;
  color: black;
}

.content {
  position: absolute;
  left: 13.25%;
  width: 86.75%;
  margin-right: 0;
  top: 0;
}

.quote{
  position: relative;
  top: 10%;
  left: 10%;
  z-index: 1;
  color:white;
}

.homeContent{
  position: relative;
  width: 100%;
  height: 100vh;
  top: 0;
  right: 0;
}

.homeImg{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  filter: contrast(110%) brightness(60%);
}

.contentHeader{
  position: relative;
  width: 100%;
  color: white;
  background-color: #117F72;
  padding-top: 1%;
  padding-bottom: 1%;
}
.contentHeaderSpacing{
  position: relative;
  left: 5%;

  font-size: 48px;
  font-weight: 100;
  margin-right: 0;
}

.aboutContent{
  position: relative;
  left: 7.5%;
  width: 75%;
  margin-right: 0;
}

.skillsContent{
  position: relative;
  left: 7.5%;
  width: 75%;
  margin-right: 0;
}

.skillsBox {
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px #888888;
}


.skillsImg{
  margin: 0 auto;
  max-height: 100px;
  padding-bottom: 10px;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
}


.flex{
  display: flex;
}


.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;

}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}

.resumeContent{
  position: relative;
  left: 7.5%;
  width: 75%;
  margin-right: 0;
}



input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #117F72;
}

.contactContainer {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.contactContent{
  position: relative;
  left: 10%;
  width: 75%;
}











@media screen and (max-width: 700px) {
  .sidebar{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    height: auto;
  }
  .sidebar a {
    text-align: center;
    float: none;
  }
  .skillsImg{
    margin: 0 auto;
    max-height: 50px;
    padding-bottom: 10px;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
  }
}

@media screen and (max-width: 400px) {
  .sidebar{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    height: auto;
  }
  .sidebar a {
    text-align: center;
    float: none;
  }
  .skillsImg{
    margin: 0 auto;
    max-height: 50px;
    padding-bottom: 10px;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
  }
}





