/* html {
  scroll-behavior: smooth;
} */

body {
  background-size: 40px 40px;
  background-image: radial-gradient(circle, #000000 1px, rgba(0, 0, 0, 0) 1px);
  max-width: 100%;
  overflow-x: hidden;
  margin: 0;
  font-family: 'Nanum Gothic', sans-serif;
}

.topOfNav{
  top: 0;
  background-color: #FAFAFA;
  margin: 0;
}

.bottomOfNav{
  text-align: center;
}

.navName{
  margin: 0;
  padding-top: 20%;
  text-align: center;
  padding-bottom: 5%;
  color: #8A746E;
}

.navTitle{
  text-align: center;
  padding-bottom: 20%;
  color: #117F72;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 13.25%;
  background-color: #ffffff;
  position: fixed;
  height: 100%;
  overflow: auto;
  box-shadow: 5px 5px 2px lightgrey;
}

.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}
 
.sidebar a.active {
  background-color: #117F72;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #fafafa;
  color: black;
}

.content {
  position: absolute;
  left: 13.25%;
  width: 86.75%;
  margin-right: 0;
  top: 0;
}

.quote{
  position: relative;
  top: 10%;
  left: 10%;
  z-index: 1;
  color:white;
  text-shadow: 2px 2px #404040;
}

.homeContent{
  position: relative;
  width: 100%;
  height: 100vh;
  top: 0;
  right: 0;
}

.homeImg{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  filter: contrast(110%) brightness(60%);
}

.contentHeader{
  position: relative;
  width: 100%;
  color: white;
  background-color: #117F72;
  padding-top: 1%;
  padding-bottom: 1%;
}
.contentHeaderSpacing{
  position: relative;
  left: 5%;

  font-size: 48px;
  font-weight: 100;
  margin-right: 0;
}

.aboutContent{
  position: relative;
  left: 7.5%;
  width: 75%;
  margin-right: 0;
  background-color: white;
}

.aboutText{
  font-size: 32px;
}

.skillsContent{
  position: relative;
  left: 7.5%;
  width: 75%;
  margin-right: 0;
}

.skillsBox {
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px #888888;
  background-color: white;
}


.skillsImg{
  margin: 0 auto;
  max-height: 100px;
  padding-bottom: 10px;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
  transition: transform .2s;
}
.skillsImg:hover{
  transform: scale(1.5)
}


.flex{
  display: flex;
}


.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;

}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}

.resumeContent{
  position: relative;
  left: 7.5%;
  width: 75%;
  margin-right: 0;
}



input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #117F72;
}

.contactContainer {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.contactGreeting{
  position: relative;
  text-align: center;
  left: 10%;
  background-color: white;
  width:75%;
}


.projectsContent{
  position: relative;
  left: 10%;
  width: 75%;
  margin: 20px;
}

.contactContent{
  position: relative;
  left: 10%;
  width: 75%;
  background-color: white;
  margin: 20px;
}

.containerProject{
  position: relative;
  left: 7.5%;
  width: 75%;
  margin-right: 0;
  background-color: white;
}



/* From old website*/




/* portfolio */

.grid {
  padding: 20px 20px 0px 20px;
  margin: 0 auto;
  list-style: none;
  text-align: center;
}

.grid li {
  display: inline-block;
  width: 210px;
  margin: 0;
  text-align: left;
  position: relative;
  margin-right: 20px;
  margin-bottom: 15px;
}

.grid figure {
  margin: 0;
  position: relative;
}

.grid figure img {
  max-width: 100%;
  display: block;
  position: relative;
}

.grid figcaption {
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
  background: #2c3f52;
  color: #ed4e6e;
}

.grid figcaption h3 {
  margin: 0;
  padding: 0;
  color: #fff;
}

.grid figcaption span:before {
  content: 'by ';
}

.portfolio-images {
  border: 10px solid #FFF;
margin-bottom: 10px;
margin-right: 15px;
box-shadow: 5px 5px 0px #20AE61;
}

.grid figcaption a {
  text-align: center;
  padding: 5px 10px;
  border-radius: 2px;
  display: inline-block;
  background: #ed4e6e;
  color: #fff;
}

/* Individual Caption Styles */

/* Caption Style 1 */
.cs-style-1 figcaption {
  height: 100%;
  width: 100%;
  opacity: 0;
  text-align: center;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  -moz-transition: -moz-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
}

.no-touch .cs-style-1 figure:hover figcaption,
.cs-style-1 figure.cs-hover figcaption {
  opacity: 1;
  -webkit-transform: translate(15px, 15px);
  -moz-transform: translate(15px, 15px);
  -ms-transform: translate(15px, 15px);
  transform: translate(15px, 15px);
}

.cs-style-1 figcaption h3 {
  margin-top: 25px;
}

.cs-style-1 figcaption span {
  display: block;
}

.cs-style-1 figcaption a {
  margin-top: 30px;
}

.no-touch .cs-style-7 figure:hover figcaption h3,
.no-touch .cs-style-7 figure:hover figcaption span,
.no-touch .cs-style-7 figure:hover figcaption a,
.cs-style-7 figure.cs-hover figcaption h3,
.cs-style-7 figure.cs-hover figcaption span,
.cs-style-7 figure.cs-hover figcaption a {
  -webkit-transition: opacity 0.3s 0.2s;
  -moz-transition: opacity 0.3s 0.2s;
  transition: opacity 0.3s 0.2s;
  opacity: 1;
}

@media screen and (max-width: 31.5em) {
  .grid {
    padding: 10px 10px 100px 10px;
  }
  .grid li {
    width: 100%;
    min-width: 210px;
  }
}


.portfolio-text {
  margin-top: 20px;
  margin-bottom: 20px;
  color: white;
  text-align: center;
}
.service-heading {
  color: white;
}
.portfolio-heading {
  color: black;
}


.grid figcaption {
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
  background: #2c3f52;
  color: #ed4e6e;
}

.grid figcaption h3 {
  margin: 0;
  padding: 0;
  color: #fff;
}

.grid figcaption span:before {
  content: 'by ';
}

.grid figcaption a {
  text-align: center;
  padding: 5px 10px;
  border-radius: 2px;
  display: inline-block;
  background: #ed4e6e;
  color: #fff;
}


.cs-style-1 figcaption {
  height: 100%;
  width: 100%;
  opacity: 0;
  text-align: center;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  -moz-transition: -moz-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
}

.cs-style-1 figcaption {
  height: 100%;
  width: 100%;
  opacity: 0;
  text-align: center;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  -moz-transition: -moz-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
}


.cs-style-1 figcaption {
  height: 100%;
  width: 100%;
  opacity: 0;
  text-align: center;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  -moz-transition: -moz-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
}

.no-touch .cs-style-1 figure:hover figcaption,
.cs-style-1 figure.cs-hover figcaption {
  opacity: 1;
  -webkit-transform: translate(15px, 15px);
  -moz-transform: translate(15px, 15px);
  -ms-transform: translate(15px, 15px);
  transform: translate(15px, 15px);
}

.cs-style-1 figcaption h3 {
  margin-top: 25px;
}

.cs-style-1 figcaption span {
  display: block;
}

.cs-style-1 figcaption a {
  margin-top: 30px;
}

.no-touch .cs-style-7 figure:hover figcaption h3,
.no-touch .cs-style-7 figure:hover figcaption span,
.no-touch .cs-style-7 figure:hover figcaption a,
.cs-style-7 figure.cs-hover figcaption h3,
.cs-style-7 figure.cs-hover figcaption span,
.cs-style-7 figure.cs-hover figcaption a {
  -webkit-transition: opacity 0.3s 0.2s;
  -moz-transition: opacity 0.3s 0.2s;
  transition: opacity 0.3s 0.2s;
  opacity: 1;
}


figcaption{
  
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    outline: none;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  
}







.grid {
  padding: 20px 20px 0px 20px;
  margin: 0 auto;
  list-style: none;
  text-align: center;
}

.grid li {
  display: inline-block;
  width: 210px;
  margin: 0;
  text-align: left;
  position: relative;
  margin-right: 20px;
  margin-bottom: 15px;
}

.grid figure {
  margin: 0;
  position: relative;
}

.grid figure img {
  max-width: 100%;
  display: block;
  position: relative;
}

.grid figcaption {
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
  background: #2c3f52;
  color: #ed4e6e;
}

.grid figcaption h3 {
  margin: 0;
  padding: 0;
  color: #fff;
}

.grid figcaption span:before {
  content: 'by ';
}

.portfolio-images {
  border: 10px solid #FFF;
margin-bottom: 10px;
margin-right: 15px;
box-shadow: 5px 5px 0px #20AE61;
}

.grid figcaption a {
  text-align: center;
  padding: 5px 10px;
  border-radius: 2px;
  display: inline-block;
  background: #ed4e6e;
  color: #fff;
}

.grid li {width: 300px;}

@media screen and (max-width: 31.5em) {
  .grid {
    padding: 10px 10px 100px 10px;
  }
  .grid li {
    width: 100%;
    min-width: 210px;
  }
}

a {
  color: #888;
  text-decoration: none;
}

a:hover,
a:active {
  color: #333;
}

/* end of integration*/

@media screen and (max-width: 1000px){
  .skillsImg{
    margin: 0 auto;
    max-height: 50px;
    padding-bottom: 10px;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
  }
}

@media screen and (max-width: 700px) {
  .sidebar{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    height: auto;
  }
  .sidebar a {
    text-align: center;
    float: none;
  }
  .skillsImg{
    margin: 0 auto;
    max-height: 50px;
    padding-bottom: 10px;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
  }
}

@media screen and (max-width: 500px) {
  .sidebar{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    height: auto;
  }
  .sidebar a {
    text-align: center;
    float: none;
  }
  .skillsImg{
    margin: 0 auto;
    max-height: 40px;
    padding-bottom: 10px;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
  }
}


@media screen and (max-width: 375px) {
  .sidebar{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    height: auto;
  }
  .sidebar a {
    text-align: center;
    float: none;
  }
  .skillsImg{
    margin: 0 auto;
    max-height: 35px;
    padding-bottom: 10px;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
  }
}


